@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #CAD6DB;
}

header{
    height: calc(100vh - 80px);
    background-image: url(../images/header-image.jpg);
    background-size: cover;
    margin-bottom: 50px;
}

nav{
    display: flex;
    justify-content: center;
    /* background-color: green; */
    
}

ul{
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    gap: 25px;
    color: white;
    font-weight: 300;
    /* background-color: red; */
}

li{
    font-size: 1.5em;
}

.agency-quote {
    max-width: 450px;
    /* background-color: green; */
    text-align: center;
    margin: 150px auto;
    color: white;
}

.agency-quote h1{
    font-size: 3em;
    margin-bottom: 16px;
}

.agency-quote p {
    font-size: 1.3em;
    margin-bottom: 48px;
    font-weight: 200;
}

.agency-quote button {
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 1.2em;
    background-color: #F25C05;
    font-weight: 700;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: rgba(0, 0, 0, 0.63);
    font-weight: 500;
}

.packages{
    min-height: 100vh;
}

.packages-container{
    /* width: 100%; */
    /* background-color: yellow; */
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    justify-items: center;
    gap: 25px;
    margin-bottom: 50px;
}

.packages-itens{
    position: relative;
    width: 25vw;
    height: 60vh;
    border-radius: 20px;
    background-color: #1B2E40;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.548);

}

.travel-image{
    margin-bottom: 10px;
    width: 100%;
    height: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px;
    border-radius: 20px 20px 0 0;
}

.travel-1{
    background-image: url(../images/fuuji.jpg);
}

.travel-2{
    background-image: url(../images/hawaii.jpg);
}

.travel-3{
    background-image: url(../images/londres.jpg);
}

.travel-4{
    background-image: url(../images/oslo.jpg);
}

.travel-5{
    background-image: url(../images/alps.jpg);
}

.travel-6{
    background-image: url(../images/canyon.jpg);
}

.travel-info {
    height: 60%;
    text-align: center;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;

}

.travel-info h1, p{
    margin-bottom: 20px;
}

.travel-info p {
    font-weight: 100;
    opacity: 80%;
}

.travel-info h2 {
    color: #F2B591;
    position: absolute;
    /* align-self: flex-end; */
    margin-right: 20px;
    bottom: calc(0% + 10px);
    right: calc(0% + 10px);
    font-weight: 900;
}

.diferencial{
    width: 100%;
    min-height: calc(100vh - 90px);
    background-image: url(../images/background-diferencial-35-full.jpg);
    background-size: cover;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 32px;
}

.diferencial h1{
    position: absolute;
    top: 20px;
    font-size: 2.5em;
    margin-bottom: 16px;
}


.diferencial-itens{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    gap: 60px;
    /* display: inline-block; */
}

.diferencial-1, .diferencial-2, .diferencial-3 {
    max-width: 15vw;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.diferencial-icon{
    margin-bottom: 30px;
}

.reviews{
    position: relative;
    /* background-color: blue; */
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reviews h1{
    font-size: 2.5em;
    position: absolute;
    top: 5px;
    color: #566073;
    /* margin-bottom: 16px; */
}

.reviews-itens {
    display: flex;
    justify-content: center;
    gap: 80px;
    /* background-color: red; */
}

.review-1, .review-2, .review-3 {
    color: white;
    text-align: center;
    min-height: 50vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #1B2E40;
    border-radius: 20px;
}

span{
    color: #F2B591;
    font-weight: 700;
}

.contact{
    height: 100vh;
    background-image: url(../images/contato-background-opacity35.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.contact-itens{
    /* background-color: rgba(255, 0, 0, 0.342); */
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.address, .phone, .email{
    display: flex;
    align-items: center;
    color: white;
    /* background-color: blue; */
}

.address, .phone, .email p {
    font-weight: 200;
}


.address-info, .email-info, .phone-info{
    margin-left: 10px;
    /* background-color: yellow; */
}

.address-info{
    max-width: 60%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.479);
    width: 25vw;
    height: 60vh;
    border-radius: 30px;
}

input{
    padding: 8px 20px;
    border-radius: 50px;
    
}

input, textarea{
    border: none;
    outline: none;
    width: 80%;
    border-radius: 20px;
}

textarea {
    padding: 10px;
}

[type="submit"] {
    background-color: #F25C05;
    width: 50%;
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    cursor: pointer;
}

footer{
    height: 18px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: black;
    color: white;
    font-size: 0.8em;
    font-weight: 700;
}






@media screen and (min-width: 1500px) {
    .agency-quote {
        font-size: 1.7em;
        max-width: 850px;

    }
    .packages-itens{
        height: 50vh;
        font-size: 1.2em;
    }
    .reviews-itens{
        font-size: 1.5em;
    }

    .agency-quote button{
        width: 40%;
    }
    
}



@media screen and (max-width: 1100px) {
    .packages-container{
        grid-template: 1fr 1fr / 1fr 1fr;
    }
    .packages-itens {
        width: 35vw;
    }
    .reviews-itens{
        gap: 50px;
    }
    .review-1, .review-2, .review-3 {
        width: 28vw;
    }
    form{
        width: 30vw;
    }
    .contact-itens {
        width: 30vw;
        font-size: 0.9em;
    }
    .contact-icon{
        width: 100px;
    }

}


@media screen and (max-width: 740px) {
    .packages-container{
        grid-template: 1fr 1fr 1fr / 1fr ;
        
    }
    .packages-itens {
        width: 60vw;
    }
    header{
        height: calc(90vh);
    }
    .diferencial {
        min-height: 180vh;
    }
    .diferencial-itens{
        flex-direction: column;
        gap: 100px;
    }
    .reviews{
        height: 200vh;
    }
    .reviews-itens{
        flex-direction: column;
    }
    .review-1, .review-2, .review-3 {
        width: 50vw;
    }
    form{
        width: 40vw;
    }
    .contact-itens {
        width: 35vw;
        font-size: 0.8em;
    }
    .contact-icon{
        width: 80px;
    }
}

@media screen and (max-width:620px) {
    .contact{
        flex-direction: column;
        height: 150vh;
    }
    form{
        width: 60vw;
    }
    .contact-itens {
        width: 70vw;
        font-size: 0.9em;
    }
    .contact-icon{
        width: 90px;
    }
}


@media screen and (max-width: 550px) {
    .packages-itens {
        width: 65vw;
        height: 65vh;
    }
    .review-1, .review-2, .review-3 {
        width: 60vw;
    }
}

@media screen and (max-width: 500px) {
    li{
        font-size: 0.8em;
    }
    .packages-itens {
        height: 70vh;
        width: 80vw;
    }
    header{
        height: calc(100vh);
    }
    .diferencial h1{
        font-size: 1.7em;
    }
    .diferencial-icons{
        width: 90px;
    }
    .diferencial h2{
        font-size: 1.3em;
    }
    .review-1, .review-2, .review-3 {
        width: 80vw;
    }

    form{
        width: 80vw;
    }
    .contact-itens {
        width: 75vw;
        font-size: 0.8em;
    }
    .contact-icon{
        width: 80px;
    }
}

@media screen and (max-width: 330px) {
    li{
    font-size: 0.6em;
    
    }

    header{
        height: calc(130vh);
    }
    .diferencial h1{
        font-size: 1.5em;
    }
}